<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <header class="blog-header">
    <div class="container">
      <h1><i class="fas fa-blog"></i> Blog Articles</h1>
    </div>
  </header>

  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="h4 mb-0"><i class="fas fa-newspaper"></i> Latest Posts</h2>
      <a href="/articles/new" class="btn btn-success">
        <i class="fas fa-plus"></i> New Article
      </a>
    </div>

    <div class="row">
      <% articles.forEach(article => { %>
        <div class="col-md-6 col-lg-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title"><i class="fas fa-file-alt"></i> <%= article.title %></h4>
              <div class="card-subtitle text-muted mb-2">
                <i class="far fa-calendar-alt"></i> <%= article.createdAt.toLocaleDateString() %>
              </div>
              <div class="card-text mb-3"><%= article.description %></div>
              <div class="button-group">
                <a href="articles/<%= article.slug %>" class="btn btn-primary">
                  <i class="fas fa-book-reader"></i> Read More
                </a>
                <a href="articles/edit/<%= article.id %>" class="btn btn-info">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
</body>
</html>